.header {
    background-color: var(--bg-color-secondary);
    border-bottom: 1px solid var(--border-color-primary);
    justify-content: center;
    padding: 1em;
}

.header__nav {
    width: var(--width-lg);
}

.header__links {
    list-style-type: none;
}

.header__link--removable {
    display: initial;
}

@media screen and (max-width: 400px) {
    .header__link--removable {
        display: none;
    }
}