.header {
    background-color: var(--bg-color-secondary);
    border-bottom: 1px solid var(--border-color-primary);
    justify-content: center !important;
    padding: 1em;
}

.header__nav {
    width: var(--width-lg);
}

.header__links {
    list-style-type: none;
}

.header__link--removable {
    display: initial;
}

.header__link--removable:hover {
    cursor: pointer;
}

.header__icon {
    transition: 0.2s transform ease-in-out !important;
}

.header__icon:hover {
    cursor: pointer !important;
}

.header__icon--toggled {
    transform: rotate(180deg) !important;
}

@media screen and (max-width: 400px) {
    .header__link--removable {
        display: none;
    }
}