.projects {
    width: var(--width-lg);
}

.list {
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
    row-gap: 2em;
}

.item {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1em;
    flex-basis: calc(50% - 1em);
    border: 1px solid var(--border-color-primary);
    border-radius: 0.5rem;
    background-color: var(--bg-color-secondary);
    min-height: 15rem;
    padding: 1em;
}

.project-title {
    font-size: 1.5em;
    font-weight: bold;
    flex: 1;
}

.project-links {
    flex: 1.5;
    justify-content: flex-end;
    gap: 1em;
}

.project-link {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 0.2rem;
    font-weight: bold;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.project-link:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}

.project-tags {
    justify-content: flex-start;
    gap: 0.5em;
    flex: 1;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.project-tag {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.2em 0.5em;
    border-radius: 0.2rem;
}

.project-desc {
    justify-content: flex-end;
    flex: 2;
}

@media screen and (max-width: 1300px) {
    .item {
        min-height: 16rem;
    }
}

@media screen and (max-width: 900px) {
    .item {
        min-height: 17rem;
    }
}

@media screen and (max-width: 800px) {
    .item {
        flex: 1;
    }

    .list {
        gap: 1em;
        row-gap: 1em;
    }
}

@media screen and (max-width: 700px) {
    .list {
        flex-flow: column nowrap;
        gap: 1em;
    }

    .item {
        min-height: 13rem;
    }

    /* .project-info {
        fle
    } */
}