:root {
    --color-primary: #333;
    --color-secondary: #333;

    --bg-color-primary: #fff;
    --bg-color-secondary: rgb(248, 248, 248);
    --bg-color-highlight: rgba(0, 0, 0, 0.6);

    --border-color-primary: #ddd;
}