:root {
    --color-primary: #000;
    --color-secondary: rgb(0, 119, 255);

    --bg-color-primary: #fff;
    --bg-color-secondary: rgb(247, 247, 247);
    --bg-color-highlight: rgba(0, 119, 255, 0.5);

}